*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    font-weight: 600;
}

body{
    background: url(/assets/bg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.regular-txt{
    font-weight: 400;
}

.main-container{
    height: 476px;
    width: 305px;
    border: solid;
    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.searchinput{
    width: 100%;
    padding: 10px 16px;
    border-radius: 50px;
    border: 3px solid transparent;
    background: rgba(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border ease;
}

.searchinput:focus{
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.searchinput::placeholder{
    color: #fff;
}

.search-btn{
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1.25rem;
}

.weather-info{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.location-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location{
    display: flex;
    align-items: center;
    gap: 6px;
}

.date-time{
    text-align: end;
}

.weather-summary-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-summary-img{
    width: "120px";
    height: "120px";
}

.weather-summary-info{
    text-align: end;
}

.weather-conditions-container{
    display: flex;
    justify-content: space-between;
}

.condition-item{
    display: flex;
    align-items: center;
    gap: 6px;
}

.condition-item i{
    font-size: 20px;
}

.forecast-items-container{
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    padding-bottom: 12px;
    /* margin-top: 30px; */
}

.forecast-items-container::-webkit-scrollbar{
    height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track{
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forecast-item{
    min-width: 70px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}

.forecast-item:hover{
    background: rgb(255, 255, 255, 0.15);
}

.forecast-item-img{
    width: 35px;
    height: 35px;
}

.section-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 25%;
}

.section-message img{
    height: 180px;
    width: fit-content;
}